body {
	background-color: pink;
}
.welcome-page {
	background-color: red;
	color: white;
	text-align: center;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-left: auto;
	marg
}