* {
    margin: 0;
    padding: 0;
}
/* .main-wrapper {
    width: 1400px;
    margin: auto;
    background-color: yellow;
} */
.wrapper {
    width: 1350px;
    margin: auto;
    /* background-color: yellow; */
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 1258px;
    height: 44px;
    margin-top: 33px;
    margin-left: 91px;
    gap: 339px;
    align-items: center;
    /* background-color: pink; */

}

.first-frame {
    display: flex;
    gap: 142px;
    height: 33px;
    width: 789px;
    margin-top: 9px;
    /* background-color: lime; */

}

.navContent ul {
    display: flex;
    list-style: none;
    width: 508px;
    height: 28px;
    gap: 38px;
}

.header-image {
    display: flex;
    gap: 10px;
    width: 139px;
    height: 33px;
    /* background-color: palegoldenrod; */
}

img {
    width: 33px;
    height: 33px;
}
.header-image p {
    width: 96px;
    height: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color:#2995E2;
}

ul li>a {
    text-decoration: none;
}


ul li>a.services {
    color: #242424;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 28.11px;
    width: 55px;
    height: 28px;
}

ul li>a.donate {
    color: #3F3F3F;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
    width: 47px;
    height: 28px;
}

ul li>a.who-we-are {
    color: #3F3F3F;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
    width: 76px;
    height: 28px;
}

ul li>a.join-us {
    color: #3F3F3F;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
    width: 43px;
    height: 28px;
}

ul li>a.contact-us {
    color: #3F3F3F;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
    width: 68px;
    height: 28px;
}

ul li>a.blog {
    color: #3F3F3F;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
    width: 29px;
    height: 28px;
}
.the-button-div {
    border-color: #8E8E8E;
    border-style: solid;
    width: 130px;
    height: 44px;
    border-width: 1px;
    /* background-color: pink; */
    gap: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
   width: 50px;
   height: 30px;
   font-weight: 600;
   font-family: "Cairo", sans-serif;
   font-size: 16px;
   line-height: 29.98px;
   color: #3F3F3F;
   margin-top: 8px;
}

.nav-bar {
    /* border: .2rem solid blue; */
}

article.introductory {
    /* background-color: pink; */
    width: 1350px;
    display: flex;
    justify-content: space-between;
    height: 700px;
    
}

article.introductory .intro {
    width: 556px;
    height: 186px;
    /* background-color: aqua; */
    margin-top: 256px;
    margin-left: 94px;
}

article.introductory .intro {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    color: #242424;
}

article.introductory .intro>span {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    color:#2995E2
}

article.introductory p {
    font-family: "Cairo", sans-serif;
    width: 500px;
    height: 36px;
    margin-left: 94px;
    margin-top: 75px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: #3F3F3F;
}

.image {
    width: 577px;
    height: 467px;
    margin-top: 195px;
   
}

.get-started-div {
    /* background-color: #2995E2; */
    width: 374px;
    height: 51px;
    gap: 46px;
    margin-left: 94px;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}

.get-started-button {
    /* background-color: yellow; */
    width: 149px;
    height: 51px;
}

.start-button-inner-div {
    display: flex;
    justify-content: space-around;
    background-color: #2995E2;
    width: 143px;
    height: 44px;
    gap: 10px;
}

.start-button-inner-div span {
    color: #FFFFFF;
    width: 78px;
    height: 30px;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 42px;
}

.button-offset {
    background-color: red;
    width: 143px;
    height: 44px;
    margin-top: 7px;
    margin-left: 6px;
    border-width: 1px;
    gap: 10px;
    border-color: #4E4E4E;
}

.watch-story {
    /* background-color: linen; */
    display: flex;
    justify-content: space-between;
    gap: 18px;
    height: 36px;
    width: 179px;
    margin-top: 7px;
}

.watch-story span {
    width: 129px;
    height: 36px;
    font-family: "Cairo", sans-serif;
    font-size: 19px;
    line-height: 35.61px;
    font-weight: 600;
    color:#3F3F3F;
}

.watch-story img {
    width: 32px;
    height: 32px;
    image-resolution: 500px;
    gap: 10px;
    margin-top: .1rem;
}

.about-us-section article{
    /* background-color: pink; */
    width: 1350px;
    display: flex;
    /* justify-content: space-between; */
    height: 300px;
}

.about-us-section article .about-us {
    width: 819px;
    height: 198px;
    margin-left: 255px;
    gap: 8px;
    /* background-color:rgb(63, 109, 151); */
}



.abt-us-and-pic h1 {

    width: 174px;
    height: 82px;
    font-family: "Cairo", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 82.46px;
    color: #3F3F3F;
    margin-left: 100px;

}

.abt-us-and-pic {
    /* background-color: orange; */
    display: flex;
    width: 819px;
    
}


.about-us p {
    width: 819px;
    height: 108px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    line-height: 35.61px;
    /* background-color: indigo; */
}

.about-us-section {
    margin-top: 20vh;
}

.abt-us-and-pic img {
    width: 232px;
    height: 85px;
}
.about-us span img{
    margin-top: 1px;
    /* background-color: aqua; */
    width: 160px;
    height: 97px;
    margin-left: 495px;
}

.our-services {
    /* background-color: pink; */
    width: 1350px;
    height: 600px;
}

.our-services article {
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}

.family-image img {
    width: 722px;
    height: 426px;
    margin-top: 29vh;
}

.the-services {
    width: 343px;
    height: 111px;
    margin-left: 91px;
    /* background-color: grey; */
}
.the-services h1 {
    width: 217px;
    height: 75px;
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    line-height: 74.98px;
    font-weight: 700;
    color: #2995E2;
}

.the-services p {
    width: 343px;
    height: 36px;
    font-family: "Cairo", sans-serif;
    font-size: 19px;
    line-height: 36.61px;
    font-weight: 600;

}

.guardian {
    width: 525px;
    height: 319px;
    margin-left: 91px;
    gap: 42px;
    /* background-color: grey; */
    margin-top: 20vh;
}

.guardian h2 {
    width: 525px;
    height: 52px;
    font-family: "Cairo", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 52.47px;
    color:#3F3F3F;
}

.guardian p {
    width: 493px;
    height: 144px;
    font-family: "Cairo", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 35.61px;
    color:#3F3F3F;
    margin-top: 20px;
}


.button-div {
    background-color: aqua;
    margin-top: 40.5px;
    width: 181.14px;
    height: 62px;
    
}

.upper-side-of-button p{
    background-color: #2995E2;
    width: 173.84px;
    height: 53px;
    gap: 12.16;
}

.upper-side-of-button p span{
    color: #FFFFFF;
    width: 89px;
    height: 36px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 19.45px;
    line-height: 50.45px;
    margin-left: 49px;
}


/* .lower-side-of-button p {
    background-color: peru;
    width: 173.84px;
    height: 53.49px;
    margin-left: 7.29px;
    
    border-width:1.22px;
    border-style: solid;
    color: #4E4E4E;
} */

.help-the-elderly-section article {
    /* background-color: pink; */
    width: 1350px;
    height: 600px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    
}

.help-the-elderly-section article img{
    width: 641px;
    height: 465px;
    margin-left: 91px;
    /* background-color: aqua; */
}

.help-elder {
    width: 493px;
    height: 313px;
    /* background-color: red; */
    margin-top: 125px;
}

.help-elder p {
    width: 261px;
    height: 52px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: #3F3F3F;
}

.help-elder .info {
    width: 433px;
    height: 144px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: #4F4F4F;
}

.button-div-for-elder {
    width: 163.61px;
    height: 56px;
    margin-top: 60px;
    background-color: aqua;

}

.button-div-for-elder .button {
    background-color: #2995E2;
    width: 157.02px;
    height: 48.31px;
    gap: 10.98px;
 
}


.button-div-for-elder .button span{
    color: #FFFFFF;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 17.57px;
    line-height: 32.92px;
    margin-left: 40px;
    
}


.food-and-cloth-section article {
    /* background-color: pink; */
    width: 1350px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.food-and-cloth-section article .buy-food-and-cloth {
    width: 493px;
    height: 320px;
    margin-left: 91px;
    gap: 42px;
    margin-top: 50px;
    /* background-color: red; */
}
.food-content {
    width: 493px;
    height: 215px;
    gap: 19px;
    /* background-color: aqua; */
}

.food-content h2{
    width: 328px;
    height: 52px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: #3F3F3F;
}
.food-content p{
    width: 493px;
    height: 144px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: #3F3F3F;
}

.cloth-botton .button-for-cloth {
    background-color: #2995E2;
    width: 157.02px;
    height: 48.31px;
    gap: 10.98px;
 
}
.cloth-botton .button-for-cloth span{
    color: #FFFFFF;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 17.57px;
    line-height: 32.92px;
    margin-left: 40px;
    
}
.cloth-botton {
    width: 163.61px;
    height: 56px;
    margin-top: 48px;
    background-color: aqua;
}

.clothing-pic img {
    width: 678px;
    height: 410px;

}

.special-help-section article {
    width: 1350px;
    height: 550px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    /* background-color: pink; */
}

.help-div {
    width: 1148px;
    height: 323px;
    margin-top: 40px;
    border-width: 12px;
    border-color: #ffffff;
    background-color: #2995E2;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    
}
.help-image img {
    width: 457px;
    height: 313px;
    margin-top: 75px;
    /* margin-left: 234px; */
    margin-left: 120px;
}

.help-text-div {
    width: 286px;
    height: 209px;
    gap: 18px;
    margin-right: 150px;
    margin-top: 95px;
    /* background-color: red; */
}

.help-text-div h2 {
    width: 286px;
    height: 132px;
    font-family: "Cairo", sans-serif;
    color: #FFFFFF;
    font-size: 35px;
    line-height: 65.59px;
    font-weight: 700;
}

.help-botton .button-for-help {
    background-color: #ffffff;
    width: 157.02px;
    height: 48.31px;
    gap: 10.98px;
 
}
.help-botton .button-for-help span {
    color: #313131;
    width: 105px;
    height: 35px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 18.51px;
    line-height: 34.69px;
    margin-left: 30px;
    
}
.help-botton {
    width: 163.61px;
    height: 56px;
    margin-top: 20px;
    background-color: aqua;
}

.consultation-form-section article{
    /* background-color: pink; */
    width: 1350px;
    height: 650px;
    margin-top: 40px;

}

.consultation-form-section article form {
    width: 1179px;
    height: 614px;
    border: 1px solid #2995E2;
    gap: 10px;
    margin: auto;
}
.consultation-form-section article form .form-content {
    width: 1098px;
    height: 531px;
    gap: 32px;
    /* background-color: blueviolet; */
    margin: 43px auto;
}

.text {
    width: 532px;
    height: 94px;
    gap: 11px;
    /* background-color: red; */
}

.text h2 {
    width: 306px;
    height: 47px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 46.85px;
    color: #3F3F3F;
}

.text p {
    width: 553px;
    height: 36px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: #3F3F3F;
}

.form-input-div {
    width: 1098px;
    height: 405px;
    gap: 57px;
    /* background-color: aqua; */
    margin-top: 31px;
}

.form-input-div .first-input {
    width: 1098px;
    height: 113px;
    gap: 38px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
}

.full-name, .email {
    /* background-color: burlywood; */
    width: 530px;
    height: 113px;
    gap: 16px;
}
.full-name p {
    width: 71px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-weight: 600px;
    font-size: 17px;
    line-height: 31.86px;
    color: #4F4F4F;
}

.full-name input {
    width: 510px;
    height: 65px;
    /* padding-left: 17px; */
    gap: 17px;
    border: 1px solid #999999;
    outline: none;
    padding-left: 18px;
}


.email p {
    width: 41px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-weight: 600px;
    font-size: 17px;
    line-height: 31.66px;
    color: #4F4F4F;
}

.email input {
    width: 510px;
    height: 65px;
    /* padding-left: 17px; */
    gap: 17px;
    border: 1px solid #2995E2;
    outline: none;
    padding-left: 18px;
}

.email input::placeholder {
    width: 213px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 31.86px;
    color: #2995E2;

}

.form-input-div .second-input {
    width: 1098px;
    height: 113px;
    gap: 38px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.industry, .state {
    /* background-color: burlywood; */
    width: 530px;
    height: 113px;
    gap: 16px;
}
.state p {
    width: 71px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-weight: 600px;
    font-size: 17px;
    line-height: 31.86px;
    color: #4F4F4F;
}

.state .state-select {
    width: 530px;
    height: 65px;
    /* padding-left: 17px; */
    gap: 17px;
    border: 1px solid #999999;
    outline: none;
    padding-left: 18px;

}


.industry p {
    width: 41px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-weight: 600px;
    font-size: 17px;
    line-height: 31.66px;
    color: #4F4F4F;
}

.industry .industry-select {
    width: 530px;
    height: 65px;
    gap: 17px;
    border: 1px solid #999999;
    padding-left: 18px;
    outline: none;

}

option {
    width: 55px;
    height: 32px;
    font-family: "Cairo", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 31.86px;
}

.button-for-form {
    width: 530px;
    height: 65px;
    gap: 16px;
    background-color: #2995E2;
    margin: 43px auto;
}

.button-for-form button {
    width: 529px;
    height: 64px;
    margin-top: .04rem;
    background-color: #2995E2;

}

.button-for-form button p {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 33.73px;
    color: #FFFFFF;
    border: none;
    
}

.end-section footer{
    /* background-color: pink; */
    width: 1350px;
    height: 400px;
    margin-top: 40px;
}

.bottom-line {
    width:1350px;
    /* margin-left: 62px; */
    margin-top: 30px;
    border: 1px solid #C9C9C9;

}

.footer-div {
    /* background-color: aqua; */
    width: 1179px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #C9C9C9;
}

.end-logo-and-contents {
    width: 193.94px;
    height: 133px;
    gap: 15px;
    /* background-color: red; */

}

.end-contents {
    width: 565px;
    height: 218px;
    gap: 102px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    width: 193.94px;
    height: 46px;
    gap: 13.94px;
    display: flex;
    justify-content: space-between;
}


.footer-logo img{
    width: 46px;
    height: 46px;
}


.footer-logo p {
    width: 134px;
    height: 42px;
    font-weight: 700;
    font-size: 22.3px;
    line-height: 41.8px;
    font-family: "Cairo", sans-serif;
}



.footer-logo-content p {
    width: 176px;
    height: 72px;
    font-weight: 700;
    font-size: 19px;
    line-height: 36px;
    font-family: "Cairo", sans-serif;

}


.footer-logo-content p>span {
    color: color;
    font-weight: 700;
    font-size: 19px;
    line-height: 36px;
    font-family: "Cairo", sans-serif;
}


.footer-service {
    width: 127px;
    height: 218px;
    gap: 10px;
    /* background-color: blue; */
}


.footer-info {
    width: 72px;
    height: 144px;
    gap: 10px;
    /* background-color: blue; */
}


.office {
    width: 162px;
    height: 181px;
    gap: 10px;
    /* background-color: blue; */
}

.footer-service p {
    width: 59px;
    height: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color: #3F3F3F;
}
.footer-info p {
    width: 59px;
    height: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color: #3F3F3F;
}
.office p {
    width: 59px;
    height: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color: #3F3F3F;
}

.footer-service ul {
    list-style: none;
    width: 127px;
    height: 178px;
    gap: 7px;
    color: #3F3F3F;
}

.footer-service ul li {
    line-height: 35px;
}

.footer-info  ul {
    list-style: none;
    width: 127px;
    height: 178px;
    gap: 7px;
    color: #3F3F3F;
}

.footer-info  ul li {
    line-height: 35px;
}

.office ul {
    list-style: none;
    width: 127px;
    height: 178px;
    gap: 7px;
    color: #3F3F3F;
}

.office ul li {
    line-height: 35px;
}

.end {
    width: 1179px;
    height: 30px;
    /* background-color: red; */
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end .first {
    width: 4608px;
    color: #878787;
}

.end h2.second {
    width: 350px;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    color: #878787;
    /* background-color: aqua; */
    margin-left: 10px;
}

.end h2.second>span {
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 29.98px;
    font-weight: 700;
    color: #2995E2;
}