.wrapper {
    background-color: green;
    width: 400px;
    height: 300px;
    
}

p {
    background-color: white;
    height: 75%;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    color: red;
    border: 2px ridge blue;
    

}