* {
    margin: 0;
    padding: 0;
}

.mainWrapper {
    width: 95vw;
    margin: auto;
    /* background-color: yellow; */
}

.wrapper {
    width: 1800px;
    height: 6000px;
    margin: auto;
    background-color: rgb(18, 10, 10);
    background-image: url(./image/snap.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;
}

.navBar {
    width: 1350px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 60px;
    border-radius: 12px;
    /* color: #ffffff; */
}

/* .movie-div {
    display: flex;
    justify-content: ;
} */

.movie-div img {
    width: 80px;
    height: 90px;
}

ul li {
    list-style: none;
    width: 200px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    color: #ffffff;
}



ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* background-color: aqua; */
}

.nav-button {
    width: 140px;
    height: 40px;
    border: 1px solid grey;
    background-color: #113b5a;
    border-radius: 10px;
}


h2 {
    margin: 7px auto;
    margin-left: 25px;
    color: #ffffff;
}
h1 {
    color: #ffffff;
}

header {
    width: 1350px;
    height: 100px;
    margin-top: 20px;
    /* background-color: pink; */
    margin: auto;
}

header .search  {
    margin-top: 20px;
    /* background-color: blue; */
}
.search-input {
    margin-left: 35%;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
}

.movies img {
    width: 436px;
    height: 400px;
}

.movie-section {
    width: 1800px;
    align-items: center;
}

.movie-section article {
    /* background-color: pink; */
    width: 1500px;
    height: 400px;
    margin-left: 100px;

}

.movies {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: aqua; */
    margin: auto;
    gap: 90px;
}

.movie {
    height: 700px;
}
.titleRating {
    width: 450px;
    height: 20px;
    /* background-color: red; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color: white;
}
.titleRating span{
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 23px;
    background-color: rgb(222, 15, 15);
}

.titleRating .titlediv>span {
    margin-left: 20px;
}

.titleRating h2:hover {
    color: rgb(59, 45, 59);
}
.movie-section article {
    display: flex;
    justify-content: space-between;
}
